<html>

<head>
    <title>Mocha</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/mocha/mocha.css">
    <script src="/mocha/mocha.js"></script>
    <script src="/chai/chai.js"></script>

    <!-- sets the Behavior Driven Development interface to show on mocha.run() -->
    <script>
    mocha.setup('bdd');
    </script>

    <!-- mocha error-handling & variable defintions -->
    <script>
    function assert(expr, msg) {
        if (!expr) throw new Error(msg || 'failed');
    }
    var expect = chai.expect;
    </script>

    <!-- Firebase dependency -->
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

    <!-- Source file -->
    <script type="text/javascript">
    var roomKey =  window.location.href.substring(window.location.href.indexOf('roomKey=')+'roomKey='.length,window.location.href.length);
    var currFirebaseRoom = new Firebase('http://dazzling-torch-169.firebaseio.com/rooms/' + roomKey);
    var userRef = currFirebaseRoom.child('users');
    var scope = parent.angular.element('ace-editor').scope();
    var g = document.createElement('script');
    var s = document.getElementsByTagName('script')[0];
    g.text = scope.userCode;
    if (g.text) {
        s.parentNode.insertBefore(g, s);
    }

    document.addEventListener("DOMContentLoaded", function(event) {
        var userFailures;
        mocha.run(function(failures) {
            userFailures = failures;
        }).on('suite end', function(suite) {
            var failedTestsArr = [];
            suite.tests.forEach(function(test) {
                if (test.state === 'failed') {
                    failedTestsArr.push(test.fullTitle());
                }
            }); // suite tests forEach
            userRef.once('value', function(userSnapshot) {
                userSnapshot.val().forEach(function(user, index) {
                    if (user._id === scope.user._id) {
                      var updatedUser = userSnapshot.val()[index];
                      updatedUser.failures = userFailures;
                      updatedUser.failedTestsArr = failedTestsArr;
                      userRef.child(index).set(updatedUser);
                    }
                }); // userSnapshot forEach
            }); // userRef.once
        }); // mocha.run.on
    }); // document.addEventListener

    </script>

    <!-- Test file -->
    <script type="text/javascript">
    <%- exercise %>
    </script>

</head>

<body>
    <div id="mocha"></div> <!-- mocha runner div -->
</body>


</html>
