<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/" />
        <title>Co{Duels}</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <script src="/lodash/lodash.js"></script>
        <script src="/jquery/dist/jquery.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/angular/angular.js"></script>
        <script src="/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/angularfire/dist/angularfire.min.js"></script>
        <script src="/socket.io-client/socket.io.js"></script>
        <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
        <script src="https://cdn.jsdelivr.net/ace/1.1.8/min/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="/ace-builds/src-min-noconflict/ace.js"></script>
        <script type="text/javascript" src="/angular-ui-ace/ui-ace.js"></script>
        
        <script src="/main.js"></script>
    </head>
    <body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="wrap">
            <div ui-view></div>
    </div>
</body>
<footer></footer>
</html>