html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 155px;
}

#home {
	background: url('scss/newscreenshot.png') no-repeat center;
	background-size: cover;
	height: 45vh;
	perspective: 1px;
	background-color: #1e1e1e;
	padding-top: 70px;
	padding-bottom: 70px;

  }

.header {
	position: relative;
	bottom: 0;
  	margin-top: 30%;
	margin-left: 150px;
	color: #7b7992;
	font-weight: bold;
}



span.co {
	color: #FF0000;
}


.description {
	color: #fff;

}

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;

}

.info {
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: 300;
}


.footer {
	position: absolute;
	bottom: 0;
	background-color: #1e1e1e;
	width: 100%;
	height: 168px;
	clear:both;
}

#exercises {
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	// margin-top: -75px;
	// height: 75px;
	clear:both;
}

.footer p {
	color: white;
}

.footer h4 {
	color: white;
	text-transform: uppercase;
	padding-top: 27px;
	padding-bottom: 20px;
}

img.landing-image {
	height: 226px;
	width: 350px;
	vertical-align: middle;
	// margin-right: 100px;
}

form.submitted .ng-invalid {
	border: 2px solid #f00;
}

table.table {
	background-color: #fff;
	width: 100%;
}

.table-bordered {
	font-size: 16px;
}



