html,body {
	height:100%;
}

#wrap {
	 min-height: 100%;
}

#home {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #1e1e1e;
  }

.header {
	margin-top: 100px;
	color: #7b7992;
	font-weight: bold;

}
span.co {
	color: #FF0000;
}


.description {
	color: #fff;
}

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;

}

.info {
	height: 350px;
	font-family: 'Source Sans Pro', sans-serif;
}


#footer {
	bottom: 0;
	background-color: #1e1e1e;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
	clear:both;
}

#exercises {
	font-family: 'Source Sans Pro', sans-serif;
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}

img.landing-image {
	height: 226px;
	width: 350px;
	vertical-align: middle;
	// margin-right: 100px;
}
