<div class="container">

<div class="row">
	<div class="col-sm-6" id="Exercises">
	  <h2> Exercises </h2>
	  <h4> Easy </h4>
	  <exercise ng-repeat="exercise in exercises" ng-show="exercise.difficulty == 'Easy'">
	  </exercise>
	  <h4> Medium </h4>
	  <exercise ng-repeat="exercise in exercises" ng-show="exercise.difficulty == 'Medium'">
	  </exercise>
	  <h4> Hard </h4>
	  <exercise ng-repeat="exercise in exercises" ng-show="exercise.difficulty == 'Hard'">
	  </exercise>
	</div>

	<div class="col-sm-6" id="activeRooms">
	    <h2> Active Rooms </h2>
	    <h4> &nbsp; </h4>
	    <room ng-repeat="room in activeRoomData"></room>
	</div>
</div>
</div>
