<style>
.ace_editor {
	height: 250px;
	margin: 5px;
	}
</style>

<section id="challenges">
	<div class="container pt">
		<div class="row">
			<div class="col-md-6">
				<h2> Create Test </h2>
				<div class="row">
					<div ui-ace = "{
						useWrapMode : true,
						showGutter: true,
						theme: 'monokai',
						mode: 'javascript',
						onLoad: aceLoaded1,
						onChange: aceChanged
					 }" ng-model="content" id="test">
					</div>
				</div>
				<div class="row">
					<h2> Prompt for User Function </h2>
					<div ui-ace = "{
						useWrapMode : true,
						showGutter: true,
						theme: 'monokai',
						mode: 'javascript',
						onLoad: aceLoaded2,
						onChange: aceChanged
					 }" ng-model="content2" id="prompt">
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<h2> Instructions </h2>
				<form>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Name of Exercise" ng-model="exercise.name">
						<input type="text" class="form-control" placeholder="Short description of Exercise" ng-model="exercise.shortDescription"><input type="text" class="form-control" placeholder="Long description of Exercise" ng-model="exercise.longDescription">
						<input type="text" class="form-control" placeholder="Category" ng-model="exercise.category">
						<input type="text" class="form-control" placeholder="Difficulty" ng-model="exercise.difficulty">
						<h5><a href="" ng-click="submitTest(exercise)">Submit Test</a></h5>
						<h3>{{successMessage}}</h3>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
