navbar {

  display: block;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    color: #000c18;

    &.active {
      color: #000c18;
    }
    &:hover {
      color: rbga(0, 12, 24, 0.5);
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}