
.navbar {
  text-transform: uppercase;
  margin-bottom: 0px;
}

.navbar-inverse {
  padding-bottom: 20px;
  padding-top: 20px;
}

.navbar-inverse {
  background-color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000c18;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #000c18;
}


.navbar-brand {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
  color:#7b7992;
}

.navbar-inverse .navbar-brand:hover {
    color: #FE5D2E;
  }

.navbar-inverse .navbar-brand:focus {
    color: #7b7992;
  }

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

