<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HTML</title>
</head>

<body>

<section class="waiting" ng-show="!waitingDone">
    <waiting-room></waiting-room>
</section>

<div class="challengeStart" ng-show="waitingDone">
    <h1> {{ game.exerciseName }}</h1>
    <div ng-repeat="user in userDisplay">
        <h5> Username: {{ user.username }} </h5>
        <h5> Failures: {{ user.failures }} </h5>
    </div>

    <ace-editor></ace-editor>
    </div>


<div class="col-sm-6">
<div ng-repeat="user in userDisplay">
        <h5> Username: {{ user.username }} </h5>
        <h5> Failures: {{ user.failures }} </h5>
</div>
</div>


    <iframe id="mocha-runner" ng-src="{{srcUrl}}" style="display: none; width: 40%; height: 500px;">
        <!-- the iframe makes a request to the api routie on page load, then subsequently on each return keypress -->
    </iframe>
</div>
</div>
</body>

</html>
