<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HTML</title>
</head>

<body>


<section class="waiting" ng-show="!waitingDone">
    <waiting-room></waiting-room>
</section>

<div class="container">
<div class="row">
<div class="challengeStart" ng-show="waitingDone">

    <div class="col-sm-6">
        <ace-editor></ace-editor>
    </div>


    <div class="col-sm-6">
        <h2> {{ game.exerciseName }}</h2>
        <h4> {{ game.longDescription }}</h4>
        <div class="row">
            <div class="col-sm-6">
            <h2> Tests </h2>
                <h5 ng-repeat="title in allTestTitles" ng-class="{green: title.color, red:!title.color}"> {{ title.title }} </h5>
            </div>

            <div class="col-sm-6">
                <div ng-show="isPractice" ng-repeat="user in userDisplay">
                    <h2> &nbsp; </h2>
                    <h5 ng-show="numTests" ng-repeat="user in userDisplay"> Passing: {{ user.passed }} / {{ numTests }} </h5>

                    <!-- <arena-progress></arena-progress> -->
                    <progressbar class="passedTests" max="100" value="((user.passed) * 100) / numTests" animate="false"><span style="color:black; white-space:nowrap;"> {{ user.passed }} / {{ numTests }}</span></progressbar><br>
                </div>
                <div ng-show="!isPractice">
                    <h2> Current Players </h2>
                    <div ng-repeat="user in userDisplay">
                        <div><img ng-src="{{user.image}}" style="width: 50px; height: 50px; float: left; margin: 3px;"> <div style="margin: 2px; font-weight: bold;"><p>Username: {{ user.username }} </p>
                        <p>  Passing: {{ user.passed }} / {{ numTests }} </p></div>
                        <progressbar class="passedTests" max="100" value="((user.passed) * 100) / numTests" animate="false"><span style="color:black; white-space:nowrap;"> {{ user.passed }} / {{ numTests }}</span></progressbar><br>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!isPractice">
        <h1>Winner: {{ winner }}</h1>
        <!-- <div ng-show="isWinner">
        <h2>{{ winner }}, continue to your <a ui-sref="about">Profile</a></h2>
        </div> -->
    </div>


    <iframe id="mocha-runner" ng-src="{{srcUrl}}" style="display: none; width: 40%; height: 500px;">
        <!-- the iframe makes a request to the api routie on page load, then subsequently on each return keypress -->
    </iframe>
</div>
</div>
</div>

</body>

</html>
