<style>
.ace_editor {
	height: 250px;
	margin: 5px;
	}
</style>
<section>
	<div class="container pt">
		<h3>Add or edit an exercise</h3>
		<select ng-change="pickExercise()" ng-model="selectedExercise" class="custom-select" ng-options="exercise.name for exercise in exercises"> 
			<option value=''>Add New Exercise</option>
		</select>
		<!-- <button type="button" class="btn btn-primary" ng-click="toggle()">{{buttonText}}</button> -->

		<div class="row">
			<div class="col-md-6">
				<h2> Update Test Code </h2>
				<div class="row">
					<div ui-ace = "{
						useWrapMode : true,
						showGutter: true,
						theme: 'monokai',
						mode: 'javascript',
						onLoad: aceLoaded1,
						onChange: aceChanged,
						showPrintMargin: false
						}" ng-model="selectedExercise.testCode" id="test">
					</div>
				</div>
				<div class="row">
					<h2> Update Prompt for User Function </h2>
					<div ui-ace = "{
						useWrapMode : true,
						showGutter: true,
						theme: 'monokai',
						mode: 'javascript',
						onLoad: aceLoaded2,
						onChange: aceChanged,
						showPrintMargin: false
						}" ng-model="selectedExercise.editorPrompt" id="prompt">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h2> Instructions </h2>
				<form name='exerciseForm' ng-class="{submitted:exerciseForm.submitted}" novalidate>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Name of Exercise" ng-model="selectedExercise.name" required><br>
						<input type="text" class="form-control" placeholder="Short description of Exercise" ng-model="selectedExercise.shortDescription" required><br>
						<textarea rows="5" type="text" class="form-control" placeholder="Long description of selectedExercise" ng-model="selectedExercise.longDescription" required></textarea><br>
						<div class="row">
							<div class="col-md-4"><input type="text" class="form-control" placeholder="Category 1" ng-model="selectedExercise.category[0]" required></div>
							<div class="col-md-4"><input type="text" class="form-control" placeholder="Category 2" ng-model="selectedExercise.category[1]"></div>
							<div class="col-md-4"><input type="text" class="form-control" placeholder="Category 3" ng-model="selectedExercise.category[2]"></div>
						</div><br>
						<select required ng-model="selectedExercise.difficulty" class="custom-select" ng-options="difficulty for difficulty in difficulties">
			<option></option>
		</select><br><br><br>
						<button ng-show="!editExisting" type="button" class="btn btn-success" ng-click="addNewExercise()">Add New Exercise</button>
						<button ng-show="editExisting" type="button" class="btn btn-success" ng-click="updateExercise()">Update Exercise</button>
						<button type="button" class="btn btn-danger"  ng-show="editExisting" ng-click="deleteExercise()">Delete Exercise</button>
						<h3>{{success}}</h3>
						<h3 ng-show="exerciseForm.submitted">{{errMessage}}</h3>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>