<style>
.ace_editor {
	height: 175px;
	width: 620px;
}
</style>

<div class="container">
<div class="page-header">
	<h2> View {{ viewUser.username }}'s winning code </h2> <h4><a ui-sref="allplayers">Go back to the leaderboard</a></h4>
	</div>
	<div class="col-lg-9">
		<accordion ng-repeat="exercise in userExercises">
			<accordion-group heading="{{exercise.name}} | Difficulty: {{ exercise.difficulty }}" is-open="exercise.selected" >

			<div ng-repeat="userCode in exercise.allCode track by $index | orderBy: 'time'" >
			<p>{{userCode.name}}<br>{{ userCode.time | date:'short'}}</p>
			<div ui-ace="{useWrapMode : true,
			showGutter: true,
			theme: 'monokai',
			mode: 'javascript',
			showPrintMargin: false}" ng-model="userCode.code">

			</div><br>
</div>
			</accordion-group>

		</accordion>
		</div>
</div>
