<style>
.ace_editor {
	height: 175px;
	width: 620px;
}
</style>

<div class="container">
<div class="page-header">
	<h2> View {{ viewUser.username }}'s winning code </h2> <h4><a ui-sref="allplayers">Go back to the leaderboard</a></h4>
	</div>
	<div class="col-lg-9">
		<accordion ng-repeat="shared in sharedCode">

			<accordion-group heading="{{shared.name}} | Difficulty: {{ shared.difficulty }}" is-open="true" >

			<div ng-repeat="code in shared.lastUserCode track by $index | orderBy: 'time'" >
			
			<div ui-ace="{useWrapMode : true,
			showGutter: true,
			theme: 'monokai',
			mode: 'javascript',
			showPrintMargin: false}" ng-model="code">

			</div><br>
</div>
			</accordion-group>

		</accordion>
		</div>
</div>
